body{
 font-family: sans-serif;
 min-height: 750px;
}

header{
  height: 5vh;
}

footer {
  height: 5vh;
  background-color: black;
  color: #ddd;
  font-size: small;
  margin-bottom: 0px;
}

.leftsection, .rightsection {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .leftsection, .rightsection {
    height: 90vh;
  }
}

.leftsection {
  background-color: white;
}


.upperpart {
  height: 45vh;
  text-align: center;
  padding: 40px 20px 0 0;
}

.lowerpart {
  display: block;
  height: 40vh;
  border: 3px solid #BC2663;
  margin: 20px 8px 8px 8px;
  padding-top: 10px;
}

.centered{
  text-align: center;
}


.rightsection {
  background-color: white;
  height: 100%;
  border:1px solid gray;
}

/* Style the image inside the centered container, if needed */

#profileimg {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: block;
  border:1px solid gray;
}

#profileimg-h5{
	margin-top:10px;
	font-weight: bold;
  color: #BC2663;
}
