body{
 font-family: sans-serif;
}

header{
  height: 39px;
}

footer {
  height: 39px;
  line-height: 39px;
  text-align: center;
  background-color: black;
  color: #ddd;
  font-size: small;
  margin-bottom: 0px;
}

#footer-p {
  vertical-align: middle;
}

.leftsection, .rightsection {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .leftsection, .rightsection {
    height: 90vh;
  }
}

.leftsection {
  background-color: white;
}


.upperpart {
  height: 350px;
  text-align: center;
  padding: 40px 20px 0 0;
}

.lowerpart {
  display: block;
  height: 300px;
  border: 3px solid #BC2663;
  margin: 20px 8px 8px 8px;
  padding-top: 10px;
}


.centered{
  text-align: center;
}


.rightsection {
  background-color: white;
  height: 100%;
  border:1px solid gray;
}

/* Style the image inside the centered container, if needed */

#profileimg {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: block;
  border:1px solid gray;
}

#profileimg-h5{
	margin-top:10px;
	font-weight: bold;
  color: #BC2663;
}


.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
